<div class="row">
  <div class="col-md-4">
    <%= image_tag @game.game_img.url(:game_show), class: "game-show" %>
  </div>

  <div class="col-md-8">
    <div class="game-info">
      <h2 class="game-title"><%= @game.title %></h2>
      <h3 class="game-creator"><span><em>Designed by </em></span><%= @game.creator %></h3>
      <h4 class="game-creator"><%= @game.category.name %></h4>
      <p class="game-desc"><%= @game.description %></p>

  </div>
</div>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @game.user_id == current_user.id %>
      <%= link_to "Edit", edit_game_path(@game), class: "btn btn-custom" %>
      <%= link_to "Delete", game_path(@game), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
    <% end %>
  <% end %>
</div>